REACT_APP_DEFAULT_LNG=
REACT_APP_DEFAULT_LAT=
REACT_APP_DEFAULT_ZOOM=
REACT_APP_MAP_STYLE=

REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=

REACT_APP_CALENDAR_MIN_YEAR=

# for production only
GENERATE_SOURCEMAP=false