.stats {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: background 500ms ease-in-out !important;
}

.stats:hover {
  background: rgba(255, 255, 255, 0.25) !important;
}
  