details.maplibregl-ctrl-attrib{
  opacity: 0.5 !important;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  width: 320px;
  max-height: calc(100vh - 20px);
}

.sidebar > div:not(:last-child) {
  margin-bottom: 10px;
}